@font-face {
    font-family: "Droid Serif";
    font-style: normal;
    font-weight: 400;
    src: local("Droid Serif"), local("DroidSerif"), url("http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Droid Serif";
    font-style: italic;
    font-weight: 400;
    src: local("Droid Serif Italic"), local("DroidSerif-Italic"), url("http://fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5898u2Q0OS-KeTAWjgkS85mDg.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



* { 
    box-sizing: border-box;
    outline: none;
}

html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 20px;
    background: transparent;
    color: #fff;
    font-family: 'twofaced_displaybold';
}

a{ text-decoration: none; }

.main_content{
  width: 100%;
  background-color: rgb(23, 10, 46);
  position: relative;
}


/*Header*/

.single_header_area{
  background: url(../images/single-navigation-background.png) no-repeat center bottom;
  background-size: auto auto;
  background-clip: border-box;
  width: 100%;  
  height: 160px;
}

.single_header_area_wrapper{
    max-width: 950px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.logo_wrapper{
  float: left;
  margin-top: 80px;
}


nav#single-navigation{
    z-index: 9999;
    width: 100%;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;

}


ul.single_main_nav{
  list-style: none;
  text-align: center;
  margin-top: 90px;
  margin-left: 12%;
  float: right;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;  
}

ul.single_main_nav li.menu-item {
  float: left;
  text-align: center;
  margin-right: 25px ;

}

li.menu-item:last-child{
  margin-right: 0px;
}

li.menu-item a{
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

li.menu-item a:hover{
    color: #fff;
    opacity: 0.75;
}


/*Movie_area*/

.movie_area{
  width: 100%;
  background-color: rgb(23, 10, 46);;

}

.movie_area_wrapper{
  max-width: 950px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

aside.main_image{
  float: left;
  margin-top:80px;
  width: 38%;
  text-align: left;
}
aside.main_image h2{
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 21px;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}

aside.main_image a{
  color: #fff;
  text-decoration: underline;
  font-size: 11px;
  font-family: 'Droid Sans';
  opacity: 1;
  text-align: left;
}

aside.main_image a:hover{
  color: #a7a1a1;
}

aside.movie_describe{
  float: left;
  width: 62%;
  margin-top: 100px;
}

aside.movie_describe hr {
  border-top: 1px solid #8b8597;
  border-bottom: none;
  margin: 20px 0;

}

aside.movie_describe h1{
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Droid Sans';
  line-height: 36px;
  letter-spacing: 3px;
  padding: 10px 0px 15px 0px;
  text-transform: uppercase;
  text-align: left;

}

aside.movie_describe .content p{
    text-align: left !important;
    font-family: "Droid Serif", serif;
}

aside.movie_describe .content p:nth-child(2) {
  padding: 10px 0px 30px 0px;
}


em.post_content {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin: 0 0 10px;
  font-family: "Droid Serif", serif;
  font-style: italic
}

p em.cast-details {
  color: #fff;
  font-size: 11px;
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 300;
  margin: 0;
}

.facebook-share{
  margin-right: 10px;
  line-height: 20px;
}

.twitter-share {
  width: 90px;
}

/*Video Galery*/

.movie_area .video-gallery {
  margin: 15px 0 10px;
  list-style: none;
  padding: 0;
  clear: both;
  padding-top: 15px;
  font-weight: 700;
  font-size: 1.5em;
}


  .clearfix:before, .clearfix:after {
        display: table;
      content: "";
      line-height: 0;
  }

  .clearfix:after {
      clear: both;
  }

.movie_area .video-gallery li {
  width: 154px;
  border: 2px solid #fff;
  border-bottom: 21px solid #fff;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  line-height: 20px;

}

.movie_area .video-gallery li .play-button{
  width: 26px;
  height: 26px;
  margin-left: -13px;
  margin-top: -13px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
}

.movie_area .video-gallery li .play-button .normal{
  background-image: url("../images/button-play-small.png");
  background-position: top left;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.movie_area .video-gallery li .play-button .inverted{
    display: none;
    background-image: url("../images/button-play-small.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.black-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    display: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
 h3.movie-name{
    position: absolute;
    left: 0;
    bottom: -21px;
    margin: 0;
    width: 100%;
    height: 21px;
    text-align: center;
    font-family: "Droid Serif", serif;
    font-style: italic;
    font-size: 10px;
    line-height: 21px;
    color: #170a2e;
    overflow: hidden;
}

ul.image-gallery {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0;
  list-style: none;
  padding: 0px;
}

ul.image-gallery li {
  width: 60px;
    height: 60px;
    border: 2px solid #fff;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

.single-movie-pagination {
  margin-bottom: 25px;
  text-align: left;
}

.single-movie-pagination a {
  text-decoration: underline;
  color: #fff;
  font-family: 'Droid Sans';
  font-size: 12px;
  line-height: 20px;
}


.single-movie-pagination a:hover{
  color: #a7a1a1;
}


/*Footer*/

.footer_area{
    width: 100%;
    background-color: #000000;
    clear: both;
}

.footer_area_wrapper{
    max-width: 950px;
    margin: 0 auto;
    padding: 35px 0px;
    clear: both;
}

.copyright {
    width: 30%;
    float: left;
    color: #fff;
    font-size: 1em;
    font-style: italic;

}

.like_wrapper{
    width: 50%;
    float: right;
}

.like{
    float: right;
    color: #fff;
    font-size: 1em;
    font-style: italic;
    padding-right: 10px;
}

.facebook_like{
    text-align: right;
    float: right;
}