
@font-face {
    font-family: "Droid Serif";
    font-style: normal;
    font-weight: 400;
    src: local("Droid Serif"), local("DroidSerif"), url("http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Droid Serif";
    font-style: italic;
    font-weight: 400;
    src: local("Droid Serif Italic"), local("DroidSerif-Italic"), url("http://fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5898u2Q0OS-KeTAWjgkS85mDg.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


* { 
    box-sizing: border-box;
    outline: none;
}

*:focus{
    outline: none !important;
}

div.clip_wrapper:focus{
      outline: none !important;
    border:1px solid red;
}



html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: center;
    font-family: 'twofaced_displaybold';
}

a{ text-decoration: none; }

u {
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }​

/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should be a color other than white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:50px;
    height:50px;
    position:absolute;
    left:55%; /* centers the loading animation horizontally on the screen */
    top:55%; /* centers the loading animation vertically on the screen */
    background-image:url(../images/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}


/*Main_area*/

.main_area{
	width: 100%;
    background-color: rgb(23, 10, 46);
    position: relative;
}


/*Header_area*/

.header_area{
	background: url(../images/front-page-top-section.jpg) no-repeat center bottom;
	background-size: cover;
    background-clip: border-box;
	width: 100%;
	height: 657px;
}

.header_area_wrapper{
    max-width: 950px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.hover{
    position: fixed;
    top: 0px; left: 0px;
    z-index: 9999;
    width: 100%;   
    background-color: #000000;
    padding: 25px 0px 10px 0px;
    -webkit-transition: background-color 700ms ease-out;
    -moz-transition: background-color 700ms ease-out;
    -o-transition: background-color 700ms ease-out;
    transition: background-color 700ms ease-out;

}

.main_nav_hover{
    margin-left: 30% !important;
    list-style: none;
}

nav#navigation{
    z-index: 9999;
    width: 100%;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;

}


ul.main_nav {
	list-style: none;
	text-align: center;
    padding-top: 50px;
	margin-left: 21%;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;	
}

li.page_scroll {
	float: left;
	text-align: center;
	margin-right: 45px;

}

li.page_scroll a{
	color: #fff;
	text-decoration: none;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}

li.page_scroll a:hover{
    color: #fff;
    opacity: 0.75;
}




a.logo{
    background-image: url(../images/logo.png);
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 344px;
    margin-left: -304px;
    position: absolute;
    top: 172px; left: 504px;
    width: 608px;
    text-indent: -9999px;
    cursor: default !important;
}

.show_recent_content{
    position: absolute;
    top:565px; left: 0px;
    height: 88px;
    text-align: center;
    width: 100%
}

.show_recent_content a{
    font-size: 20px;
    font-weight: 600;
    line-height: 88px;
    color: #fff;
    text-transform: uppercase;
}

.show_recent_content a span{
    padding: 15px;
    border: 2px solid #6f6f6f;
    letter-spacing: 3px;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.show_recent_content a span:hover{
    color: rgb(23, 10, 46);
    background: #fff;
    -webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
}


/*Recent_and_additional_content_area*/

.recent_content_area{
    width: 100%;
}

.recent_content_area_wrapper{
    max-width: 950px;
    margin: 0 auto;
}

.recent_content_area_wrapper h2{
    color: #fff;
    font-size: 2em;
    font-family: "Droid Serif";
    font-weight: 700;
    /*text-decoration: underline;*/
    text-transform: uppercase;  
    line-height: 15px;
    margin: 0px 0px 80px 0px;
    padding-top: 100px;
    padding-bottom: 6px;
    letter-spacing: 3px;
}

.recent_content_area_wrapper h3{
    color: #fff;
    font-size: 1.5em;
    font-family: "Droid Serif";
    font-weight: 600;
    text-align: left;
    margin-left: 5px;
    padding: 40px 0px 20px;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 2px;
}


.name_img{
    height: 40px;
    width: 96.5%;
    background-color: #000;
    margin: 0;
    padding: 0;

}

.name{
    height: 40px;
    width: 220px;
    background-color: #000;
    margin: 0 0 0 5px;
    padding: 0;
    position: absolute;
    left: -5px; bottom: 0px;
    z-index: 9999;
}

.name h4, .name_img h4{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: "Droid Serif";
    font-style: italic;
    font-size: 0.8em;
    line-height: 40px;
}



.third-effect img {
    position: relative;
    -webkit-transition: background-color 800ms ease;
    -moz-transition: background-color 800ms ease;
    -o-transition: background-color 800ms ease;
    transition: background-color 800ms ease;
}


.third-effect img:hover{
    cursor: pointer;
    background-color: #000;
    opacity: 0.25;
    -webkit-transition: background-color 800ms ease;
    -moz-transition: background-color 800ms ease;
    -o-transition: background-color 800ms ease;
    transition: background-color 800ms ease;
}

.clip_wrapper{
    position: relative;
}

.play-button{
    margin-top: -47px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    margin-left: -27px;
    width: 54px;
    height: 54px;
}

.normal{
    background-image: url("../images/button-play.png");
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.inverted{
    background-image: url("../images/button-play.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.additional_content{
    padding-bottom: 100px;
}

/*About area*/

.about_area{
    width: 100%;
    border-top: 3px solid #6f6f6f;
    background-image: url(../images/about-background.jpg);
    background-position: auto auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 180px;
}

.about_area_wrapper{
    max-width: 950px;
    margin: 0 auto;
}


.about_area_wrapper h2{
    color: #fff;
    font-size: 2em;
    font-family: "Droid Serif";
    /*text-decoration: underline;*/
    text-transform: uppercase;  
    line-height: 15px;
    margin: 85px 0px 50px 0px;
    padding-bottom: 10px;
    letter-spacing: 3px;
}
  
 .about_section .container{
    width: 100% !important;
 } 

 img.about_img{
    width: 380px !important;
    height: 285px;
 }

.about_films p{
    color: #fff;
    font-family: "Droid Serif", serif;
    font-style: italic;
    font-size: 1em;
    text-align: left;
    margin-left: 50px;
    line-height: 26px;
    font-weight: 300;
}

.about_films p:first-child{
    padding-bottom: 25px;
}

/*Contact_area*/


.contact_area{
    width: 100%;
}

.contact_area_wrapper{
    max-width: 950px;
    margin: 0 auto;
}


.contact_area_wrapper h2{
    color: #fff;
    font-size: 2em;
    font-family: "Droid Serif";
    /*text-decoration: underline;*/
    text-transform: uppercase;  
    line-height: 15px;
    margin: 0px 0px 50px 0px;
    padding-top: 85px;
    padding-bottom: 10px;
    letter-spacing: 3px;
}

.contact_wrapper{
    margin: 0 120px;
}


.form_content_name{
    float: left;
    width: 330px;
    height: 60px; 
    margin-right: 40px;
    margin-bottom: 20px;
}

.form_content_email{
    float: left;
    width: 330px;
    height: 60px;
    margin-bottom: 20px; 
}

.form_content_text{
    clear: both;
    width: 700px;
    height: 200px;
    margin-bottom: 20px;
}

input.contact_name{
    height: 100%;
    width: 100%;
    margin-right: 40px;
    border: 2px solid #fff;
    background-color: rgb(23, 10, 46);
    color: #fff;
    font-style: italic;
    font-size: 12px;
    padding-left: 20px;
    transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
   
}

input.contact_email{
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    background-color: rgb(23, 10, 46);
    color: #fff;
    font-style: italic;
    font-size: 12px;
    padding-left: 20px;
    transition: background 0.1s linear; 
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    
}
textarea.contact_text{
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    background-color: rgb(23, 10, 46);
    color: #fff;
    resize:none;
    font-style: italic;
    font-size: 12px;
    padding-top: 15px;
    padding-left: 20px;
    transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;

}


input.contact_name:focus,
input.contact_email:focus,
textarea.contact_text:focus {
    background: rgba(255,255,255,0.15);
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
} 


::-webkit-input-placeholder {
   color: #fff;
   font-family: "Droid Serif";
   font-style: italic;
   font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
   font-family: "Droid Serif";
   font-style: italic;
   font-size: 12px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
   font-family: "Droid Serif";
   font-style: italic;
   font-size: 12px;  
}

:-ms-input-placeholder {  
   color: #fff; 
   font-family: "Droid Serif"; 
   font-style: italic;
   font-size: 12px;
}

button.right{
    float: right;
    margin-right: 0px;
    margin-bottom: 75px;
    padding-left: 20px;
    background-color: rgb(23, 10, 46);
    border: 2px solid rgb(23, 10, 46);
}

button.right h2 {
    padding-top: 20px;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 60px;
}

button.right h2 span{
    /*text-decoration: underline;*/
}

button.right h2 span:hover{
    color: #fff;
    opacity: 0.75;
}


.clear{
    clear: both;
}

/*Contact form validation style*/

div.form_content_name, div.form_content_email,div.form_content_text{
    position: relative;
}

p.error{
    font-size: 10px;
    line-height: 10px;
    font-family: "Droid Sans", sans-serif;
    text-transform: uppercase;
    color: red;
    position: absolute;
    top: -16px;
    left: 18px;
}

/*Footer*/

.footer_area{
    width: 100%;
    background-color: #000000;
}

.footer_area_wrapper{
    max-width: 950px;
    margin: 0 auto;
    padding: 25px 0px;
}

.copyright {
    width: 30%;
    float: left;
    color: #fff;
    font-size: 1em;
    font-style: italic;
}

.like_wrapper{
    width: 50%;
    float: right;
}

.like{
    float: right;
    color: #fff;
    font-size: 1em;
    font-style: italic;
    padding-right: 10px;
}

.facebook_like{
    text-align: right;
    float: right;
}









